<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="QLBANHANG.Properties.Settings.WF_Harmony_CSDL_v0_1ConnectionString" connectionString="Data Source=DESKTOP-GSK31Q4\MSSQLSERVERLUAN;Initial Catalog=WF_Harmony_CSDL_v0.1;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QLBANHANG.Properties.Settings.WF_Harmony_CSDL_v0_1ConnectionString1" connectionString="Data Source=DESKTOP-7VH7943\SQLSERVER;Initial Catalog=WF_Harmony_CSDL_v0.1;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EntitiesBANHANG" connectionString="metadata=res://*/ModelBH.csdl|res://*/ModelBH.ssdl|res://*/ModelBH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GSK31Q4\MSSQLSERVERLUAN;initial catalog=WF_Harmony_CSDL_v0.1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesHarmony" connectionString="metadata=res://*/HarmonyModel.csdl|res://*/HarmonyModel.ssdl|res://*/HarmonyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7VH7943\SQLSERVER;initial catalog=WF_Harmony_CSDL_v0.1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/ModelHar.csdl|res://*/ModelHar.ssdl|res://*/ModelHar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7VH7943\SQLSERVER;initial catalog=WF_Harmony_CSDL_v0.1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>